<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{ballInfo.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{ballInfo.add.headline}]]</h1>
                <div>
                    <a th:href="@{/ballInfos}" class="btn btn-secondary">[[#{ballInfo.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('ballInfo')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='ballInfo', field='ballName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='ballInfo', field='ballNumber', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='ballInfo', field='ballTime', inputClass='js-datetimepicker')}" />
                <input type="submit" th:value="#{ballInfo.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
